<div id="<%= dom_id payroll_entry %>">
  <p>
    <strong>Payroll period:</strong>
    <%= payroll_entry.payroll_period_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= payroll_entry.employee_id %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= payroll_entry.salary_id %>
  </p>

  <p>
    <strong>Hours worked:</strong>
    <%= payroll_entry.hours_worked %>
  </p>

  <p>
    <strong>Vacation hours:</strong>
    <%= payroll_entry.vacation_hours %>
  </p>

  <p>
    <strong>Sick hours:</strong>
    <%= payroll_entry.sick_hours %>
  </p>

</div>
