<div id="<%= dom_id salary %>">
  <p>
    <strong>Employee:</strong>
    <%= salary.employee_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= salary.amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= salary.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= salary.end_date %>
  </p>

</div>
